<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <title>Weather Forecast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/home.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="bg-image ">
    <div class="main">
        <div class="grey-box">
            <h1 class="text-center">Weather App</h1>
            <h2 class="text-center">Check current weather information for any city around the world!</h2>
            <div class="d-flex justify-content-center vh-40">
                <form action="#" th:action="@{/weather}" th:object="${locationModel}" method="post" >
                    <label>City</label>
                    <input type="text" th:field="*{city}" required>
                    <label>State</label>
                    <input type="text" th:field="*{state}" >
                    <label>Country</label>
                    <input type="text" th:field="*{country}" required>
                    <div class="submit-button d-flex justify-content-center">
                        <button type="submit">Submit </button>
                    </div>
                </form>
             </div>
        </div>
    </div>
</div>
</body>
</html>



